<mat-toolbar>
    <button mat-raised-button >Menu</button>
    <button routerLink="/SignIn" mat-raised-button>Sign-In/Register</button><br>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="sidebar" opened>
    <button routerLink="/" mat-raised-button>Home</button><br>
    <button routerLink="/AccountInfo" mat-raised-button>Account Info</button><br>
    <button routerLink="/Exchange" mat-raised-button>Exchange</button><br>
    <button routerLink="/HistoricalInfo" mat-raised-button>Historical Data</button><br>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-home></app-home>